{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Thanks - Ecomerce Cushion Store
{% endblock %}

{% block content %}
  <div>
    <div class="text-center">
      <br>
      <br>
      <h1 class="text-center my_title">
        THanks For Placing your Order
      </h1>
      <br>
      <br>
      <p>Your order number is: <b>{{ customer_order.id }}</b></p>
      <br>
      <p>
        We have recieved your order and will begin processing right away. FOr your records an email confirmation has been sent to you.
        It contains details of the items you purchased.
      </p>
    </div>
  </div>
  <br>  
  <br>
{% endblock %}