{% extends "base.html" %}
{% load staticfiles %}

{% block metadescription %}
  {% if category %}
    {{ category.description|truncatewords:155 }}
  {% else %}
    Welcome to Ecommerce Store
  {% endif %}  
{% endblock %}

{% block title %}
  {% if category %}
    {{ Category.name}} - Ecommerce Store
  {% else %}
    See our Collections
  {% endif %} 
{% endblock %}

{% block content %}
  {% if category %}
    <div>
      <div>
        <p>
          <a href="{% url 'shop:allProdCat' %}">Our Product Collections</a> | {{ category.name }}
        </p>
      </div>
    </div>
  {% endif %}
  
  <div>
    {% if category %}
      <img src="{{category.image.url}}" alt="{{category.name}}">
      <br>
      <div>
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>
      </div>
    {% else %}
      <img src="{% static 'img/banner.jpg' %}" alt="Our Products Collection">
      <div>
        <h1>Our Products Collection</h1>
        <p></p>
      </div>
    {% endif %}
  </div>
  
  <div>
    <div>
      {% for product in products %}
        <div>
          <div>
            <a href=""><img src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div>
              <h4>{{product.name}}</h4>
              <p>${{ product.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>  
  
{% endblock %}